h1{
 color: rgb(223, 0, 0);
 font-family: Lato, Geneva, Tahoma, sans-serif
}

.myCanvas {
    display: block;
    margin: .5% auto;
    border: 1px solid black;
    background-color: rgb(171, 230, 230);
  }

  .clear-button {
    background-color: black;
    color: white;
    font-weight: bold;
  }
